@import "./statics.scss";
@import "./home.scss";
@import "./layout.scss";
@import "./sidenav.scss";
@import "./header.scss";
@import "./search.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  display: none;
}

body {
  background-color: #000;
}

.dashboard {
  background-image: linear-gradient(170deg, $bg 40%, #080b2b 100%, #080b2b 100%, #0c1237 100%);
  // background-color: #080B2A;
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  height: 98vh;
  width: 98%;
  border-radius: 30px;
  display: flex;
  overflow: hidden;
  margin: auto;
  gap: 1.3rem;
}

.chip-main {
  background-color: rgba(8, 11, 42, 34%);
  border-radius: 15px;
  padding: 5px 15px;
  border-radius: 22px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  display: flex;
  justify-content: center;
  align-items: center;

  svg {
    position: relative;

    &::before{
      position: absolute;
      right: 0%;
      top: 0%;
      content: "";
      height: 10px;
      width: 10px;
      background-color: red;
    }
  }
}