@import "./statics.scss";
@import "./home.scss";
@import "./layout.scss";
@import "./sidenav.scss";
@import "./header.scss";
@import "./search.scss";
@import "./preloader.scss";
@import "./auctionsection.scss";
@import "./walletcard.scss";
@import "./tabbar.scss";
@import "./slider.scss";
@import "./searchtab.scss";
@import "./mobileNav.scss";
@import "./featured.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  display: none;
}

body {
  height: 100%;
  width: 100%;
  background-color: #080B2A;
  overflow-y: auto;
}

#main {
  display: flex;
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  background: url(/src/assets/icons/bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
}


.chip-main {
  overflow: hidden;
  cursor: pointer;
  background-color: rgba(8, 11, 42, 34%);
  padding: 0px 15px;
  max-height: 56px;
  border-radius: 22px;
  backdrop-filter: blur(80px);
  -webkit-backdrop-filter: blur(80px);
  display: flex;
  justify-content: center;
  align-items: center;
  
  @media (max-width:880px) {
    height: max-content;
    padding: 15px 15px;
  }

  #dot {
    position: absolute;
    left: 62%;
    top: 33%;
    transform: translate(-50%, -50%);
    content: "";
    height: 7.5px;
    width: 7.5px;
    border-radius: 50%;
    background-color: #EC008C;
  }
}