@import "./statics.scss";


.header-main {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap-reverse;
    width: 100%;
    gap: 10px;

    .menu-svg {
        display: none;
    }

    @media (max-width:900px) {
        align-items: center;
        gap: 25px;
    }

    .chip-content {
        color: $white;
        font-family: $font3;
        font-size: 16px;
        display: flex;
        align-items: center;
        width: max-content;
        gap: 0.3rem;
        letter-spacing: 0.5px;
        font-weight: 100;

        @media (max-width:470px) {
            font-size: 12px;
        }

    }

    // second component
    .chips {
        display: flex;
        flex-wrap: wrap;
        gap: 0.9rem;

        @media (max-width:700px) {
            flex-grow: 1;
            justify-content: space-between;
        }

        @media (max-width:470px) {
            gap: 0.4rem;
            font-size: 12px;
        }
    }



    // third component

    .card {
        border-left: 2px solid #FBC7D4;
        width: 100%;
        max-width: max-content;
        height: 55px;
        background: transparent;
        display: flex;
        align-items: center;
        gap: 0.9rem;
        justify-content: left;
        flex-wrap: wrap;
        transition: 0.5s ease-in-out;
        padding-left: 8px;
        background-color: #93c4fd07;
    }

    .img {
        width: 55px;
        height: 55px;
        margin-left: 10px;
        border-radius: 12px;
        // border-radius: 50%;
        background: url(https://i.pinimg.com/564x/1c/a3/1e/1ca31e7afd314c805b38cadfd7672c13.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    .textBox {
        width: max-content;
        color: $white;
        display: flex;
        flex-direction: column;
        gap: 0.4rem;
        font-family: $font2;
    }

    .textContent {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }


    .h1 {
        font-size: 18px;
        font-weight: 600;
        color: #E2E4E9;
    }

    .p {
        font-size: 14px;
        font-weight: 400;
        color: #93C5FD;
    }

    .arrow {
        padding-left: 10px;
    }




    @media (max-width:470px) {
        height: max-content;
        .card {
            animation: colorpulse 1s alternate infinite ease-in-out;
            border-radius: 12px;
        }


        .arrow {
            padding-left: 10px;
            animation: updown 0.8s alternate infinite ease-in-out;
        }

        .img {
            width: 45px;
            height: 45px;
            margin-left: 5px;
        }

        .h1 {
            font-size: 14px;
        }

        .p {
            font-size: 12px;
        }
    }

    @media (max-width:380px) {
        .menu-svg {
            display: block;
        }
    }


}

@keyframes updown {
    0% {
        transform: translateY(2px);
    }

    100% {
        transform: translateY(-2px);
    }
}

@keyframes colorpulse {
    0% {
        background-color: #93c4fd0b;
    }

    100% {
        background-color: #93c4fd00;
    }
}