@import "./statics.scss";


.header-main {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;

    .chip-content {
        color: $white;
        font-family: $font3;
        font-size: 16px;
        display: flex;
        align-items: center;
        width: max-content;
        gap: 0.3rem;
        letter-spacing: 0.5px;
        font-weight: 100;
    }

    // second component
    .chips {
        display: flex;
        gap: 0.9rem;
    }



    // third component

    .card {
        // border-left: 1px solid linear-gradient(#FBC7D4, #9198e5);
        border-left: 2px solid #FBC7D4;
        width: 100%;
        max-width: max-content;
        height: 55px;
        background: transparent;
        display: flex;
        align-items: center;
        gap: 0.9rem;
        justify-content: left;
        transition: 0.5s ease-in-out;
        padding-left: 8px;
    }

    .img {
        width: 55px;
        height: 55px;
        margin-left: 10px;
        border-radius: 12px;
        // border-radius: 50%;
        background: url(https://i.pinimg.com/564x/1c/a3/1e/1ca31e7afd314c805b38cadfd7672c13.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    .textBox {
        width: max-content;
        color: $white;
        display: flex;
        flex-direction: column;
        gap: 0.4rem;
        font-family: $font2;
    }

    .textContent {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }


    .h1 {
        font-size: 18px;
        font-weight: 600;
        color: #E2E4E9;
    }
    
    .p {
        font-size: 14px;
        font-weight: 400;
        color: #93C5FD;
    }
    .arrow{
        padding-left: 10px;
    }

}