.content-main {
    height: max-content;
    flex-grow: 1;
    overflow-y: auto;
    margin-top: 25px;
    padding: 0px 25px;
    
    @media (max-width:800px) {
        margin-top: 10px;
        padding: 0px 8px;
    }
}