@import "./statics.scss";

.search-tab-main {
    display: flex;
    flex-direction: column;

    .selecte-tabs {
        display: flex;
        flex-direction: column;
        margin-top: 15px;
        border-radius: .5em;
        gap: 1rem;
    }

    .head-search {
        color: #FFFFFF;
        font-family: $font3;
        font-weight: 600;
        font-size: 24px;
    }

    .tab-content {        
        .tab-content{
            display: none;
        }
        .active{
            display: block;
        }
    }
    


    .tab-head {
        display: flex;
        justify-content: start;
        gap: 0.7rem;
    }

    input {
        display: none;

        &:checked+label {
            transition: all 250ms;
            background: linear-gradient(to right, #15BFFD, #0083CD);
        }

        &:checked~.tab-content.active {
            display: block;
        }
    }

    label {
        height: max-content;
        width: max-content;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        transition: color 250ms;
        padding: 4px 20px 4px 20px;
        border: 1px solid #636B6F;
        text-align: center;
        transition: all 250ms;
        border-radius: 23px;
        font-family: $font3;
        font-size: 16px;
        font-weight: 400;
        color: #FFFFFF;
    }
}