$color_1: rgba(51, 65, 85, 1);
$background-color_1: #EEE;
$background-color_2: #fff;
@import "./statics.scss";

.radio-inputs {
    position: relative;
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    border-radius: 8px;
    background: linear-gradient(to right, #080B2A 100%, #2E409C 100%);
    box-sizing: border-box;
    box-shadow: 1px -1px 1px -10px #2E409C;
    border-top: 2px solid #2E409C;
    border-left: 2px solid #2E409C;
    border-bottom: 2px solid #2e409ca8;
    padding: 0.3rem 0.5rem;
    width: max-content;
    font-size: 14px;
    gap: 0.7rem;

    .radio {
        flex: 1 1 auto;
        text-align: center;

        input {
            display: none;

            &:checked {
                + {
                    .name {
                        background-color: #070924;
                        color: $white;
                        font-weight: 500;
                        border-top: 2px solid #2E409C;
                        border-left: 2px solid #2E409C;
                        border-bottom: 2px solid #2e409ca8;
                    }

                }
            }
        }

        .name {
            font-family: $font2;
            font-weight: 500;
            font-size: 16px;
            display: flex;
            cursor: pointer;
            align-items: center;
            justify-content: center;
            border-radius: 0.5rem;
            border: none;
            padding: .4rem 1.3rem;
            color: #9E9E9E;
            transition: all .15s ease-in-out;
            border-top: 2px solid transparent;
            border-left: 2px solid transparent;
            border-bottom: 2px solid transparent;

            &:hover {
                scale: 1.01;
            }
        }
    }
}


// divider
.divider {
    margin-top: 0.3rem; 
    border-radius: 16px;
    width: 100%;
    height: 2px;
    background-color: #2E409C;
    background: linear-gradient(to right,#2D3F9A , #2d3f9a05);
}